@model TiendaMVC.Models.Cliente
<h2>Nuevo Cliente</h2>
<form method="post">
    <label>Nombre:</label><br />
    <input name="Nombre" required /><br /><br />

    <label>Email:</label><br />
    <input name="Email" type="email" required /><br /><br />

    <label>Teléfono:</label><br />
    <input name="Telefono" /><br /><br />

    <button type="submit">Guardar</button>
    <a href="/Clientes">Cancelar</a>
</form>