@model TiendaMVC.Models.Categoria
<h2>Nueva Categoría</h2>
<form method="post">
    <label>Nombre:</label><br />
    <input name="Nombre" required /><br /><br />
    <button type="submit">Guardar</button>
    <a href="/Categorias">Cancelar</a>
</form>